body {
  text-align: center;
  margin: 0;
  background-image: url("../Graphics/Pirate Ship.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
